@font-face {
	font-family: 'Neutraface 2 Display';
	src: url('../bootstrap-3.3.7-dist/fonts/Neutraface2Display-Titling.otf');
}
@font-face {
	font-family: 'Chanpagne & limousines';
	src: url('../bootstrap-3.3.7-dist/fonts/Champagne & Limousines.ttf');
}

html{
	overflow-x: hidden
}
body{
	background:url('./img/mybo_index/底色.png');
}
.nav_key{
	height:76px;
}

.nav_key a{
	padding:28px 20px 4px 20px !important;
	font-family:'Neutraface 2 Display';
	font-size:20px;
	color:#fff !important;
}
.nav_key > div{
	height:4px;
	border-radius:2px;
	margin: 0 auto;
	overflow: hidden;
}
.nav_key > div > div{
	height:4px;width:0px;
	background:#fff;
	border-radius:2px; 
	margin: 0 auto;
	overflow: hidden;
	position: relative;"
}
.language{
	padding:23px 0px 23px 60px;
	font-family:'Neutraface 2 Display';
	font-size:20px;
	color:#fff;
}
.language span{
	width:60px;
	border:1px solid #fff;border-radius:15px;
	display:inline-block; 
	text-align:center; 
	font-size:20px; 
	font-Weight:100;
}
.img_list_bg{
	margin:0 auto;
	padding-top:50px;
	height:460px;
	max-width:330px;
	background:url('../img/mybo-games/白色底图.png');
}
.img_list_picture{
	margin:0 auto; 
	max-width:270px;
	height:250px;
	background:url('../img/mybo-games/黄色缎带.png') bottom no-repeat; 
	background-size:100% auto;
	-moz-background-size:100% 100%;
}
.img_list_picture img{
	margin:0 auto; 
	max-width:230px;
}
.img_list_picture p{
	margin:0 auto; 
	max-height:60px; 
	max-width:230px; 
	line-height:60px; 
	font-family: 'Chanpagne & limousines'; 
	color:#fff;
	text-align:center;
	font-size:24px; 
}

.img_list_describe{
	max-width:270px;
	margin:0 auto;
}
.img_list_describe p{
	padding-top:30px;
	font-family: 'Chanpagne & limousines';
	color:#3f3f3f;
	text-align:center; 
	font-size:24px;
}

.footer{
	width:100%;
	height:auto;
	background-image:url('../img/mybo_index/底部卡通图案.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	overflow:hidden;
}
.footer_content{
	text-align:center;
	padding-top:180px;
}
.footer_content a{
	margin:0px 10px;
}
.footer_content p{
	color:#fff;
	font-family: 'Chanpagne & limousines';
	font-size:22px; 
	padding:40px 0px 80px 0px
}
	



















